@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
/* Small devices (tablets, 768px and up) */
@media (min-width: 750px) { 
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 970px) { 
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1170px) { 
    
}

* {
    font-family: 'Ubuntu Condensed', sans-serif;
}

body {
    background-image: url("master/images/killarney4.JPG");
    background-size: cover;
    max-width: 100%;
    height: auto;
    font-size: 100%;
    
}

#radios {
    text-shadow: 2px 2px 3px #000000;
}

#location{
    color: black;

}

#banner {
    text-align: center;
    color: white;
    overflow: auto;
    margin: 0;
    padding: 1em 0;
    text-shadow: 2px 2px 3px #000000;
    /*box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);*/
    
}

#current-weather{
    text-align: center;
    color: white;
    overflow: auto;
    margin: 0;
    padding: 1em 0;
    font-size: 120%;
    text-shadow: 2px 2px 3px #000000;

}

#current_location {
    font-size: 140%;
        
}

#current {
    font-size: 160%;

}

#current_temp {
    font-size: 140%;

}

#location-scale {
    text-align: center;
    color: white;
    overflow: auto;
    margin: 0;
    padding: 1em 0;
    /*box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);*/

}

#five_day_forecast {
    text-align: left;
    color: white;
    overflow: auto;
    margin: 0;
    padding: 1em 0;
    font-size: 120%;
    text-shadow: 2px 2px 3px #000000;

}

#five-day-header {
    text-align: center;
    color: white;
    overflow: auto;
    margin: 0;
    padding: 1em 0;
    font-size: 140%;
    text-shadow: 2px 2px 3px #000000;

}
